* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100%;

}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 10em;
    height: 5em;
    border: none;
    border-radius: 0.5em;
}